<style media="screen">
  .simple {
    display: inline-grid;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 7px;
    font-weight: bold;
    grid-template-columns: fit-content(40px) fit-content(40px);
    height: 14px;
    line-height: 14px;
  }
  .simple_left,
  .simple_right {
    padding: 0 10px;
    white-space: nowrap;
    text-align: center;
  }
  .simple_left {
    background: {{leftBgColor}};
    color: {{leftTextColor}};
  }
  .simple_right {
    background: {{rightBgColor}};
    color: {{rightTextColor}};
  }
</style>
<div class="badge simple">
  <title>{{title}}</title>
  <span class="simple_left">{{leftCopy}}</span>
  <span class="simple_right">{{rightCopy}}</span>
</div>